* {
    padding: 0;
    margin: 0;
    /* background-color: black;  */
    color: white;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
}


.e-91000-logo {
    padding: 8px;
    fill: var(--encore-logo-fill-color);
    stroke: transparent;
}

header nav input {
    background-color: black;
    color: white;
}

.leftcont {
    width: 27vw;
    height: calc(100vh - 48px);
    overflow: hidden;
    background-color: black;
    position: relative;
}

.leftnav {
    background-color: #121212;
    border: 5px solid black;
    border-radius: 19px;
    height: 18%;
    /* margin: 9px; */
}

.leftcont h4 {
    color: white;
    margin: 5px 0px 0px 5px;
}

.leftcont ul {
    color: white;
    padding: 10px 0px 0px 10px;
    list-style: none;

}

.leftcont ul li {
    margin: 9px 0px;
    opacity: 0.5;
    line-height: 1.5em;
    word-spacing: 1em;
    cursor: pointer;
}

.leftcont ul li:hover {
    opacity: 1;
}

.leftcont .footer {
    bottom: 0;
    position: absolute;
    font-size: 12px;
    opacity: 0.7;
    padding: 10px;
}

.sc-bmzYkS {
    display: flex;
    flex-wrap: wrap;
    width: 40vh;
    gap: 8px;
}

.leftmain {
    background-color: #121212;
    border: 5px solid black;
    border-radius: 19px;
    color: white;
    height: 82%
}

.lab {
    display: flex;
    justify-content: space-between;
    margin: 2px;
}

.lab h3 {
    padding: 0px;
    opacity: 0.5;
    cursor: pointer;
}

.lab h3:hover {
    opacity: 1;
}

.lab i {
    padding: 20px;
    opacity: 0.5;
}

.lab i:hover {
    opacity: 1;
}

.labcont {
    background-color: #232323;
    border-radius: 10px;
    
    margin: 5px 5px 10px 5px;
    line-height: 35px;
}

.labcont h3 {
    padding: 4px 0px 2px 19px;
}

.labcont p {
    padding: 0px 0px 0px 19px;
}

.labcont button {
    color: #000;
    border-radius: 10px;
    border: 0px solid transparent;
    padding: 0.7em;
    margin: 0px 0px 10px 19px;
}
.labcont button:hover{
    padding: 0.8em;
}



.rightcont {
    width: 73vw;
    height: 100vh;
    overflow: hidden;
    background-color: #000;
    /* border: 10px solid black; */

}

.rightcont nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #212121;
    border-radius: 0 0 20px 20px;
    height: 5%;
}

.rightcont nav i {
    margin-right: 8px;
    opacity: 0.5;
    font-size: 23px;
    font-weight: 800;
}

.rightcont nav i:hover {
    opacity: 1;
    border-radius: 50%;
}

#singUp {
    background-color: transparent;
    color: white;
    opacity: 0.5;
    border: none;
    font-size: 16px;
}

#singUp:hover {
    opacity: 1;
    font-weight: 600;
}

#logIn {
    color: #000;
    border: 0px solid transparent;
    border-radius: 20px;
    margin-left: 10px;
    height: 2rem;
    width: 4rem;
    font-size: 16px;
    font-weight: 500;
}

#logIn:hover {
    /* width: 4.2rem; */
    font-size: 17px;
    font-weight: 700;
}

.cardCont {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: flex-start;
    border: 4px solid black;
    background-color: #121212;
    height: calc(91% - 53px);
    overflow: scroll;
}

.spotifyPlaylist {
    width: 100%;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.spotifyPlaylist h5 {
    color: white;
    flex-wrap: wrap-reverse;
    font-size: 16px;
    cursor: pointer;
}

.cardCont .card {
    /* display: flex;
    flex-direction: row;
    justify-content: space-evenly; */
    margin: 20px;
    border: 4px solid #232323;
    word-wrap: break-word;
    width: 160px;
    background-color: #232323;
}
.cardCont .card a{
    text-decoration: none;
}

.cardCont .card p {
    font-size: 12px;
    margin-top: 5px;
    opacity: 0.8;
}

.card img {
    height: 200px;
    width: 150px;
    text-align: center;
    border: 4px solid #232323;
}


footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    background: black;
    height: 52px;
    font-size: 30px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.footerRight{
    width: 25%;
}

.footerMiddle{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerMiddle i{
    opacity: 0.5;
    font-size: 23px;
}
.footerMiddle i:hover{
    opacity: 1;
}
#play{
    font-size: 30px;
    opacity: 1;
    margin: 0 5px;
}
#play:hover{
    font-size: 35px;
    margin: 0 2px;
}

.footerLeft{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 7px;
    font-size: 19px;
}
.footerLeft input{
    height: 2px;
    cursor: pointer;
    margin: 0 20px 0 0; 
}


/* Target the scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

/* Track (background) */
::-webkit-scrollbar-track {
    background: #000;
    /* black */
}

/* Handle (thumb) */
::-webkit-scrollbar-thumb {
    background: #333;
    /* dark gray */
    border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}